---
layout: default
permalink: /eth-notes/
title: My Notes
---
	<h1>{{ page.title }}</h1>
	<div id="archives">
		{% for category in site.categories %}
		  <div class="archive-group">
			{% capture category_name %}{{ category | first }}{% endcapture %}
			<div id="#{{ category_name | slugize }}"></div>
			<p></p>
		
			<h2 class="category-head">{{ category_name }}</h2>
			<a name="{{ category_name | slugize }}"></a>
			<ul class="eth">
			{% assign sorted = (site.categories[category_name] | sort:'date')  %}
			{% for post in sorted %}
			<article class="archive-item">
			  <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
			</article>
			{% endfor %}
			</ul>
		  </div>
		{% endfor %}
		</div>

		